@mixin mQ($arg...) {
  @if length($arg) == 1 {
    @media screen and (max-width: nth($arg, 1)) {
      @content;
    }
  }
  @if length($arg) == 2 {
    @media screen and (max-width: nth($arg, 1)) and (max-width: nth($arg, 1)) {
      @content;
    }
  }
}

@mixin content {
  height: auto;
  margin: 0 auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
