@import "./../scss/_mixins";
@import "./../scss/_variables";

.header {
  height: 50px;
  background-color: $primary-color;
  color: $secondary-color;
  position: sticky;
  top: 0;
  z-index: 200;

  h1 {
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1.5rem;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;

  background: {
    image: url(./../assets/img/banner.png);
    size: cover;
    position: 100%;
  }

  h1 {
    color: $secondary-color;
    padding-top: 1.6rem;
    text-shadow: 0 2px 7px $shadow;
  }

  .action {
    background-color: $shadow;
    border-radius: 5px;
    box-shadow: 0 2px 4px $shadow;
    color: $secondary-color;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.6rem;
    width: 320px;

    h4  {
      margin-bottom: 1rem;
      padding-top: 1.6rem;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 1rem;
      font-weight: 300;
    }

    select {
      height: 2.75rem;
      width: 75%;
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 1rem;
    }

    button {
      background: linear-gradient(#FFBD7E, $highlight-color);
      border: none;
      border-radius: 10px;
      color: $primary-color;
      height: 2.75rem;
      width: 75%;
      margin-bottom: 1.6rem;
      text-transform: uppercase;

      font: {
        family: $font-body;
        size: 1rem;
        weight: 700;
      }
    }
  }
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.about {
  background-color: $secondary-color;
  height: auto;
  width: 100%;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;

    img {
      height: 200px;
    }

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 75%;

      h2 {
        text-transform: uppercase;
      }

      p {
        max-width: 75%;
        text-align: center;
      }
    }
  }
}

.amenities {
  color: $secondary-color;
  fill: $secondary-color;
  height: auto;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.6rem;

    // .text {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: center;
    // }
  }

  svg {
    height: 2rem;
  }

  // .amenity {
  //   width: (100% / 5);
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: baseline;
  // }

  .image {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}
